@import './reset';
@import './colors';

html {
	scroll-padding-top: 82px;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.85);
}

// NAGIVATION
nav {
	text-transform: uppercase;
	transition: background-color 0.6s;
	z-index: 1;
	.nav-link,
	a,
	i {
		color: $white;
		transition: color 0.3s;
		span {
			color: $main-color;
		}
	}
	a:hover {
		color: $main-color;
	}
	.nav-link:hover {
		color: $main-color;
	}
	.navbar-brand {
		font-weight: bold;
	}
	.fa-bars {
		padding: 10px;
	}
}

// HEADER
header {
	color: $white;
	.hero-img {
		position: relative;
		height: 100vh;
		background-image: url('../img/skyscrapersSmall.jpg');
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		z-index: 0;
	}

	.hero-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		padding: 10px;
		text-align: center;
		h1 {
			font-size: 30px;
			text-transform: uppercase;
			span {
				color: $main-color;
			}
		}
		p {
			font-size: 17px;
		}
	}

	.hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.75);
		z-index: -1;
	}

	.btn-outline-light {
		text-transform: uppercase;
		transition: background-color 0.35s;
	}

	.btn-outline-light:hover {
		background-color: #fff;
	}


	.fa-chevron-down {
		position: absolute;
		bottom: 20px;
		font-size: 30px;
		left: 50%;
		transform: translateX(-50%);
		color: $white;
	}
}

// MAIN
h2 {
	text-align: center;
	text-transform: uppercase;
}

.underline {
	margin: 0 auto 40px;
	width: 60px;
	height: 4px;
	background-color: $main-color;
}

.aboutus {
	i {
		margin-top: 20px;
		font-size: 30px;
	}

	.aboutus-card-title {
		font-size: 18px;
		text-transform: uppercase;
	}

	.aboutus-card-text {
		font-size: 14px;
	}

	.aboutus-hover {
		transition: color 0.3s;
	}

	.aboutus-hover:hover {
		color: $main-color;
	}
}

// Refactored fragment
.aboutus-hero {
	position: relative;
	background-image: url('../img/estateSmall.jpg');
	background-size: cover;
	background-position: center;
	color: $light-gray;
	z-index: 0;

	.aboutus-shadow {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.75);
		z-index: -1;
	}

	.aboutus-hero-item {
		margin: 10px 0;

		i {
			font-size: 36px;
		}

		.aboutus-hero-title {
			font-size: 24px;
		}
	}
}



@media (min-width: 375px) {
	header {
		.hero-text {
			h1 {
				font-size: 36px;
			}

			p {
				font-size: 19px;
			}
		}
	}
}

@media (min-width: 768px) {
	header {
		.hero-text {
			h1 {
				font-size: 46px;
			}

			p {
				font-size: 22px;
			}
		}
	}
}

@media (min-width: 992px) {
	html {
		scroll-padding-top: 72px;
	}
	header {
		.hero-img {
			background-image: url('../img/skyscrapersLarge.jpg');
		}
	}
	.aboutus-hero {
		background-image: url('../img/estateLarge.jpg');
	}
}
